@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #F8FAFD;
    color: #393E46;
    letter-spacing: -0.5px;
    text-align: center;
}

a {
    color: #393E46;
    text-decoration: none;
}

.wrapper {
    max-width: 640px;
    margin-right: auto;
    margin-left: auto;
}

.heroIntro {
    font-size: 1.5625rem;
}

.heroLogo {
    font-size: 2.375rem;
    font-weight: 700;
}

input:focus, textarea:focus, select:focus{

    outline: none;

}

.formWrapper {
    padding: 0 2rem 0 2rem;
}

.notLink {
    padding: 2rem;
    width: 50%;
}

.notLink img{
    max-width:100%;
    height:auto;
}

input[type=text] {
    width: 100%;
    margin: 2rem 0 2rem 0;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;  
    font-size: 1.5625rem;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #C1D2DB;
}

input[type=text]:focus {
    color: #393E46;
}

input[type=button] {
    background-color: #393E46;
    border: none;
    padding: 1rem 3.25rem;
    border-radius: 4px;
    color: white;
    -webkit-transition: background .25s ease;
    -moz-transition: background .25s ease;
    -ms-transition: background .25s ease;
    -o-transition: background .25s ease;
    transition: background .25s ease;
}



input[type=submit]:hover {
    background-color: #282c31;
}


.urlResult {
    margin: 2rem 0 1rem 0;
    background-color: white;
    font-family: 'Roboto Mono', monospace;
    padding:  3rem 0 2rem 0; 
    font-size: 1.5rem;
    border-width:  1px  0 1px 0;
    border-style: solid;
    border-color: #DDDDDD;
}

.copyThing {
    opacity: 30%;
    display: inline-block;
    font-weight: 500;
    font-size: 0.75rem;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
    border-radius: 10px;
    background-color: none;
    -webkit-transition: background 100ms ease-in;
    -moz-transition: background 100ms ease-in;
    -ms-transition: background 100ms ease-in;
    -o-transition: background 100ms ease-in;
    -webkit-transition: opacity 100ms ease-in;
    -moz-transition: opacity 100ms ease-in;
    -ms-transition: opacity 100ms ease-in;
    -o-transition: opacity 100ms ease-in;
    transition: background 100ms ease-in, opacity 100ms ease-in;
}

.copyThing:hover {
    opacity: 100%;
    background-color: #f1f1f1;
}

.urlNet:hover {
    text-decoration: underline;
}

.userInput {
    opacity: 80%;
    word-wrap: break-word;
    padding: 0.75rem 2rem 0 2rem;
}

.noCookie {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 1rem;
    margin-top: 2rem;
    opacity: 30%;
    border: ;
    border-width: 1px;
    border-style: solid;
    border-color: #c0bfbf;
    background-color: #dee1e6;
    border-radius: 10px;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footerContent {
    margin: 2rem 2rem 2rem 2rem;
}

.footerContent div {
    display: inline;
    padding: 0.75rem 1rem;
    transition: -webkit-transition: background 0.5s ease;
                -moz-transition: background 0.5s ease;
                -ms-transition: background 0.5s ease;
                -o-transition: background 0.5s ease;
                -webkit-transition: color 0.5s ease;
                -moz-transition: color 0.5s ease;
                -ms-transition: color 0.5s ease;
                -o-transition: color 0.5s ease;
                -webkit-transition: box-shadow 0.5s ease;
                -moz-transition: box-shadow 0.5s ease;
                -ms-transition: box-shadow 0.5s ease;
                -o-transition: box-shadow 0.5s ease;
    transition: background 0.5s ease, color 0.5s ease, box-shadow 0.3s ease;
    border-radius: 10px;
    box-shadow: 0 0 0 0 (0,0,0,0);   
}


.footerContent div:hover {
    background-color: #dde2eb;
    padding: 0.75rem 1rem;
    border-radius: 10px;
    box-shadow:
    0 0.6px 2px rgba(0, 0, 0, 0.014),
    0 1.4px 4.7px rgba(0, 0, 0, 0.02),
    0 2.6px 8.9px rgba(0, 0, 0, 0.025),
    0 4.7px 15.9px rgba(0, 0, 0, 0.03),
    0 8.8px 29.7px rgba(0, 0, 0, 0.036),
    0 21px 71px rgba(0, 0, 0, 0.05)
  ;
}

/* .disc {
    padding-top: 1.6875rem;
    padding-bottom: 1.6875rem;
    background-color: white;
    z-index: -99;
}

.discText h1 {
    font-size: 1.3rem;
    margin: 0 0 1rem 0;
    padding: 0 0 0 0;
}

.discContent {
    padding: 0 1rem 0 1rem ;
} */

/* .discButton {
    border: none;
    letter-spacing: -0.5px;
    font-weight: 700;
    background-color: white;
    margin: 1rem 0 0.5rem 0;
    padding: 0px 0 1px 0;
    color: #393E46;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: #393E46;
} */